<mat-list class="control-unit mat-elevation-z1">
  <h3 mat-subheader>Text Controls</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>format_size</mat-icon>
    <h4 mat-line>Text Size</h4>
    <p mat-line> Size of the scrolling text </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>color_lens</mat-icon>
    <h4 mat-line>Text color</h4>
    <p mat-line>Color of the scrolling text</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Page Controls</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>format_color_fill</mat-icon>
    <h4 mat-line>Background Color</h4>
    <p mat-line> Control the color of the prompter </p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>timer</mat-icon>
    <h4 mat-line>Scroll Speed</h4>
    <p mat-line> Speed of the scrolling text </p>
  </mat-list-item>
</mat-list>
