<mat-list class="control-unit mat-elevation-z5 col-md-12">
    <h3 mat-subheader>Text Controls</h3>
    <mat-list-item>
        <div class="controlLabels col-md-6">
            <div class="row">
                <mat-icon mat-list-icon>format_size</mat-icon>
                <h4 mat-line>Text Size</h4>
            </div>
        </div>
        <div class="col-md-6 row">
            <mat-slider #fontsize min="10" value="20" max="60" step="10" thumbLabel tickInterval="auto"
                (change)="onChange($event)"></mat-slider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="controlLabels col-sm-6">
            <div class="row">
                <mat-icon mat-list-icon>color_lens</mat-icon>
                <h4 mat-line>Text color</h4>
            </div>
        </div>
        <div class=" col-sm-6">
            <div class="row">
                <mat-button-toggle-group #group="matButtonToggleGroup" vertical="false" (change)="onChange($event)"
                    #textColorGroup="matButtonToggleGroup" value="#faeefd">
                    <mat-button-toggle class="togglers solidOffWhite" value="#faeefd" #textColor1="matButtonToggle">
                        <mat-icon *ngIf="textColor1.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="togglers solidBlue" value="#0900ee" #textColor2="matButtonToggle">
                        <mat-icon *ngIf="textColor2.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="togglers solidRed" value="#660404" #textColor3="matButtonToggle">
                        <mat-icon *ngIf="textColor3.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="togglers solidGray" value="#1f1e1e" #textColor4="matButtonToggle">
                        <mat-icon *ngIf="textColor4.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Page Controls</h3>
    <mat-list-item>
        <div class="controlLabels  col-md-6">
            <div class="row">
                <mat-icon mat-list-icon>speed</mat-icon>
                <h4 mat-line>Scroll Speed</h4>
            </div>

        </div>
        <div class="col-md-6 row">
            <mat-button-toggle-group value="center" #scrollspeed="matButtonToggleGroup" value="1"
                (change)="onChange($event)">
                <mat-button-toggle value="1" matTooltip="scroll 1 line per second">
                    <mat-icon class="pt-2">emoji_people</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="2" matTooltip="scroll 2 lines per second">
                    <mat-icon class="pt-2">directions_walk</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="4" matTooltip="scroll 3 lines per second">
                    <mat-icon class="pt-2">directions_run</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="6" matTooltip="scroll 6 lines per second">
                    <mat-icon class="pt-2">directions_bike</mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="controlLabels col-md-6">
            <div class="row">
                <mat-icon mat-list-icon>format_color_fill</mat-icon>
                <h4 mat-line>Background Color</h4>
            </div>
        </div>
        <div class=" col-md-6">
            <div class="row">
                <mat-button-toggle-group #group="matButtonToggleGroup" vertical="false" (change)="onChange($event)"
                    #backColorGroup="matButtonToggleGroup" value="#d4d0e6">
                    <mat-button-toggle class="togglers solidOffWhiteBack" value="#d4d0e6" #backColor1="matButtonToggle">
                        <mat-icon *ngIf="backColor1.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="togglers solidBlueBack" value="#98b8ff" #backColor2="matButtonToggle">
                        <mat-icon *ngIf="backColor2.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="togglers solidRedBack" value="#7e3131" #backColor3="matButtonToggle">
                        <mat-icon *ngIf="backColor3.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle class="togglers solidGrayBack" value="#302d2d" #backColor4="matButtonToggle">
                        <mat-icon *ngIf="backColor4.checked" class="mt-2"> check
                        </mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </mat-list-item>
</mat-list>
