<div class="entry-unit mat-elevation-z5  fill p-5 col-md-12">
  <div class="entry-header mat-elevation-z2 col-md-12 ">
    <p class="no-margin">Type text to be prompted for in the text box below.Press Enter for new line</p>
    <p class="sub-note">Note: entering excessively long lines may give you bad results</p>
  </div>
  <div class="entry-body col-md-12">
    <mat-card *ngFor="let line of lines" class="bg-light p-5">
      <div class="card-content-text">{{line}}</div>
      <button mat-button (click)="onAction1" class="right-btn no-padding">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>

    </mat-card>
  </div>
  <div class="entry-footer mat-elevation-z1 col-md-12">

  </div>
</div>
