.entry-unit {
  background: rgba(164, 11, 235, 0.158);
  max-height: 100%;
}

.entry-header {
  max-height: 10%;
  min-height: 80px;
  font-size: 9pt;
  font-weight: 300;
}

.entry-body {
  padding: 2px;
  max-height: 80%;
  min-height: 320px;
  background-color: rgba(164, 11, 235, 0.100);
}

.bg-light{
  background-color: rgba(119, 93, 122, 0.158);
  color: rgba(252, 250, 244, 0.822);
  text-shadow: 1px 2px rgba(41, 30, 46, 0.432);
}

.card-content-text{
  display: inline-block;
  max-width:640px;
  min-width: 80%;
}

.right-btn{
  max-width: 45px;
  min-width: 5%;
  display: inline-block;
}

.p-5 {
  padding: 5px;
}
.mat-18{
  margin-right: -50px;
}

.sub-note {
  font-size: 8pt;
  font-weight: 300;
}

.entry-footer {
  max-height: 10%;
  min-height: 60px;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}
