<div class="entry-unit mat-elevation-z1  fill p-5 col-md-12">
  <div class="entry-body col-md-12">
    <mat-card *ngFor="let line of lines" class="bg-light p-5">
      <div class="card-content-text">{{line}}</div>
    </mat-card>
  </div>
  <div class="entry-footer col-md-12 p-5">
    <div class="input-area mat-elevation-z5 p-5 row">
      <input placeholder="Type lines here. Press Enter for new line." value="" class="input-text col-md-10 no-padding">
      <mat-icon class="col-md-1 input-ent-btn no-padding col-md-1">
        subdirectory_arrow_left
      </mat-icon>
    </div>
  </div>
</div>
